<nav>
  <div class="nav-wrapper">
    <a id="nav-bar-root" class="brand-logo logo" data-url='/#/'>Memodon</a>
    <a class="sidenav-trigger" data-target="mobile-nav" href="#">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down navbar-menu">
      <%= render 'layouts/navmenu' %>
    </ul>
  </div>
</nav>

<ul id="mobile-nav" class="sidenav">
  <li class="sidenav-top-area">
    Menu
  </li>
  <%= render 'layouts/navmenu' %>
</ul>

<script>
document.addEventListener('DOMContentLoaded', () => {
  let elems = document.querySelectorAll('.sidenav')
  let instances = M.Sidenav.init(elems)

  initialNavBar()
})

function redirect () {
  location.href = this.getAttribute('data-url')
}

function initialNavBar () {
  // navBarRootが定義されていたらMemosも定義されている
  if (typeof navBarRoot === 'undefined') {
    const navBarRoot  = document.getElementById('nav-bar-root')
    const navBarMemos = document.getElementsByClassName('nav-bar-memos')
    navBarRoot.addEventListener('click', redirect)

    for (let elm of navBarMemos) {
      elm.addEventListener('click', redirect)
    }
  }
}

</script>
